$primary-color: #3d034e;
$secondary-color: #0eecec;
$show-home-image: true;
$home-image: url(/dist/img/Background-Image.png);
$background-opacity: 1;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: contain;
      background-size: cover;

      &:after {
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}
