//Smartphones
@include mediaSm {
  margin: 10vh;
}

//Desktop and PC
@include mediaMd {
  main,
  #home {
    margin-top: -20px;
    line-height: 4rem;
    text-transform: capitalize;
    transform: translateX(-35px);
    height: 100vh;
    width: 100vw;
    // background-color: red;
    text-align: center;
    font-size: 1rem;
  }

  .sm-heading {
    text-transform: initial;
    width: 100vw;
    transform: translateX(-15%);
    font-size: 1.5rem;
    text-align: center;
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
    
  }
  .portrait {
    background: url("../dist/img/Layer2a.png");
    width: 150px;
    height: 150px;
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 0.5rem;
  }
}

// Laptops
@include mediaLg {
}

//Widescreens
@include mediaXl {
}
