@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  z-index: 3;
  color: #c5c2c7;
  height: 100%;
  margin: 0;
  font-family: "Montserrat";
  line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 4rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 0rem;
    background: rgba(lighten($primary-color, 2), 0);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
}
.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;
  min-height: calc(100vh -60px);

  .icons {
    margin-top: 1rem;
    a {
      padding: 1.5rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.transition-fade {
  transition: 3s;
  transform: translateX(-0px);
  opacity: 1;
}

html.is-animating .transition-fade {
  transform: translateX(500px);
  opacity: 0;
}

//About Me
div.about-info {
  margin: 1rem;
  padding: 3rem;
}

#About {
  height: 25%;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bio-image bio bio"
    "job-1 job-2 job-3";

  grid-template-columns: repeat(3, 1fr);
}

.bio-image {
  width: 250px;
  height: 250px;
  grid-area: bio-image;
  margin: auto;
  border-radius: 50%;
  border: $secondary-color 2px solid;
}
.bio {
  grid-area: bio;
  font-size: 2rem;
  line-height: 50px;
}
.job-1 {
  grid-area: job-1;
}
.job-2 {
  grid-area: job-2;
}
.job-3 {
  grid-area: job-3;
}

.job {
  background: rgba(lighten($primary-color, 2), 0.1);
  padding: 2rem;
  border-bottom: $secondary-color 1px solid;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: rgba(darken($primary-color, 1), 10);
  height: 60px;
}

h6 {
  color: $secondary-color;
  font-size: 1rem;
  font-weight: 400;
  border-bottom: $secondary-color 1px solid;
}
//My Work

.gallery {
  justify-content: center;
  margin: 1rem;
  padding: 4rem;
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "work-1 work-1 work-1"
    "work-4 work-5 work-6";

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 2fr);
}

.work-1 {
  height: 250px;
  text-align: center;
  border-top: 1px $secondary-color solid;
  background: rgba(darken($primary-color, 1), 0.2);
  background-image: url("/dist/img/GrowConsult-Board-game.png");
  background-size: cover;
}

.work-2 {
  height: 250px;
  text-align: center;
  border-top: 1px $secondary-color solid;
  background: rgba(darken($primary-color, 1), 0.2);
  background-image: url("/dist/img/lending-Lola_Infograghic_207x98_220217VerFA\(D\).png");
  background-size: cover;
  background-position: center;
}

.work-3 {
  height: 250px;
  text-align: center;
  border-top: 1px $secondary-color solid;
  background: rgba(darken($primary-color, 1), 0.2);
  background-image: url("/dist/img/");
  background-size: cover;
  background-image: url("/dist/img/ReflectPack_Ver1.png");
  background-size: cover;
  background-position: center;
}

.work-4 {
  height: 250px;
  text-align: center;
  border-top: 1px $secondary-color solid;
  background: rgba(darken($primary-color, 1), 0.2);
  background-image: url("/dist/img/");
  background-size: cover;
  background-position: center;
}

.work-5 {
  height: 250px;
  text-align: center;
  border-top: 1px $secondary-color solid;
  background: rgba(darken($primary-color, 1), 0.2);
  background-image: url("/dist/img/Snyerchi_Design\ BoxVerFA.png");
  background-size: cover;
  background-position: center;
}

.work-6 {
  text-align: center;
  height: 250px;
  border-top: 1px $secondary-color solid;
  background: rgba(darken($primary-color, 1), 0.2);
}

p {
  text-transform: uppercase;
  color: $primary-color;
  font-weight: bolder;
}

@import "mobile";
