@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  z-index: 3;
  color: #c5c2c7;
  height: 100%;
  margin: 0;
  font-family: "Montserrat";
  line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 4rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 0rem;
    background: rgba(lighten($primary-color, 2), 0);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
}
.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100vh;
  // min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;
    a {
      padding: 1.5rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.transition-fade {
  transition: 3s;
  transform: translateX(-0px);
  opacity: 1;
}

html.is-animating .transition-fade {
  transform: translateX(500px);
  opacity: 0;
}

//About Me
div.about-info {
  margin: 1rem;
  padding: 0rem;
}

#About {
  height: 25%;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bio-image bio bio"
    "job-1 job-2 job-3";

  grid-template-columns: repeat(3, 1fr);
}

.bio-image {
  width: 250px;
  height: 250px;
  grid-area: bio-image;
  margin: auto;
  border-radius: 50%;
  border: $secondary-color 2px solid;
}
.bio {
  grid-area: bio;
  font-size: 2rem;
  line-height: 50px;
}
.job-1 {
  grid-area: job-1;
}
.job-2 {
  grid-area: job-2;
}
.job-3 {
  grid-area: job-3;
}

.job {
  background: rgba(lighten($primary-color, 2), 0.1);
  padding: 2rem;
  border-bottom: $secondary-color 1px solid;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: rgba(lighten($secondary-color, 1), 10);
  height: 60px;
}

h6 {
  color: $secondary-color;
  font-size: 1rem;
  font-weight: 400;
  border-bottom: $secondary-color 1px solid;
}

//Gallery

// Project ODA
#Project-1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.grid-container {
  width: 100%;
  padding: 4rem 4rem;
  display: grid;
  justify-content: center;
  align-content: center;

  grid-template-columns: 497px 497px;
  grid-template-rows: repeat(7, 328px);
  grid-template-areas:
    "1 1"
    "2 2"
    "3 3"
    "4 4"
    "5 5"
    "6 6"
    "7 7";

  .image1 {
    width: 995px;
    grid-area: 1;
    background-image: url(/dist/img/Project-Page_ODA_02.png);
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
      padding: 4rem;
      text-transform: uppercase;
      color: $secondary-color;
    }

    p {
      width: 50%;
      padding: 4rem;
      font-size: 0.8rem;
    }
  }

  .image2 {
    width: 995px;
    grid-area: 2;
    background-image: url(/dist/img/Project-Page_ODA_04.png);
    background-repeat: no-repeat;
    background-size: cover;

    p {
      float: left;
      padding: 1.5rem;
      font-size: 1.5rem;
    }
  }

  .image3 {
    width: 995px;
    grid-area: 3;
    background-image: url(/dist/img/Project-Page_ODA_06.png);

    p {
      padding: 1.5rem;
      font-size: 0.8rem;
    }
  }

  .image4 {
    width: 995px;
    grid-area: 4;
    background-image: url(/dist/img/Project-Page_ODA_07.png);

    p {
      padding: 1.5rem;
      font-size: 0.8rem;
    }
  }

  .image5 {
    width: 995px;
    grid-area: 5;
    background-image: url(/dist/img/Project-Page_ODA_08.png);

    p {
      padding: 1.5rem;
      font-size: 0.8rem;
    }
  }

  .image6 {
    width: 995px;
    grid-area: 6;
    background-image: url(/dist/img/Project-Page_ODA_09.png);

    p {
      padding: 1.5rem;
      font-size: 0.8rem;
    }
  }

  .image7 {
    width: 995px;
    grid-area: 7;
    background-image: url(/dist/img/Project-Page_ODA_11.png);

    p {
      padding: 1.5rem;
      font-size: 0.8rem;
    }
  }
}

@import "mobile";
